* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
}

.grid-container {
  max-width: 1920px;
  height: 1080px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35.4167% 64.5833%;
      grid-template-columns: 35.4167% 64.5833%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

@media only screen and (max-width: 376px), screen and (max-width: 1000px) {
  .grid-container {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
        grid-template-areas: 'area1';
  }
}

.grid-item-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f5fa));
  background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
  z-index: 0;
}

.grid-item-1 header {
  margin-top: 14.7059%;
  margin-left: 14.7059%;
}

.grid-item-1 header .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-item-1 header .top-bar h3 {
  color: #131821;
  margin: 0px;
  font-size: 16px;
  margin-left: 2.2059%;
  margin-right: 12.2059%;
  margin-top: 1.7647%;
}

.grid-item-1 header .top-bar ul,
.grid-item-1 header .top-bar li {
  margin: 0px;
  padding: 0px;
}

.grid-item-1 header .top-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin-top: 2.5%;
  margin-left: 2.3%;
}

.grid-item-1 header .top-bar ul a {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #6a707b;
  text-decoration: none;
  margin-left: 30px;
}

.grid-item-1 header .top-bar ul a:visited {
  color: #233759;
}

.grid-item-1 header .top-bar ul a:hover {
  color: #4066a5;
}

.grid-item-1 header .top-bar ul a:active {
  color: #233759;
}

.grid-item-1 section .success {
  margin-top: 19.5588%;
  margin-left: 20.5882%;
}

.grid-item-1 section .heading {
  margin-top: 34.4118%;
  margin-left: 20.5882%;
}

.grid-item-1 section .heading h1 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #131821;
  margin: 0px;
}

.grid-item-1 section .subheading {
  margin-top: 2.2059%;
  margin-left: 20.5882%;
  margin-right: 20.5882%;
}

.grid-item-1 section .subheading h2 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #6a707b;
  margin: 0px;
}

.grid-item-1 section .input {
  margin-top: 7.3529%;
  margin-left: 14.7059%;
}

.grid-item-1 section .input input {
  height: 70px;
  width: 100%;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6a707b;
  z-index: 0;
  background: #ffffff;
  border: 1px solid #e3e3e4;
  border-left: 4px solid #4066a5;
  border-right: 0px;
  margin: 0px;
  padding: 0px;
  padding-left: 40px;
}

.grid-item-1 section .input input:hover {
  -webkit-box-shadow: 0px 20px 10px #e2e3e4;
          box-shadow: 0px 20px 10px #e2e3e4;
}

.grid-item-1 section .input input:hover + button .fa {
  color: #4066a5;
  opacity: 1;
}

.grid-item-1 section .input textarea:focus,
.grid-item-1 section .input input:focus {
  outline: none;
}

.grid-item-1 section .input input:focus {
  -webkit-box-shadow: 0px 20px 10px #e2e3e4;
          box-shadow: 0px 20px 10px #e2e3e4;
  border: 1px solid #4066a5;
  border-left: 4px solid #4066a5;
  border-right: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #131821;
  padding-left: 44px;
}

.grid-item-1 section .input input:focus + button {
  border: 1px solid #4066a5;
  border-left: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid-item-1 section .input button {
  padding: 0px;
  width: 83px;
  height: 70px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  z-index: 0;
  background: #ffffff;
  border: 1px solid #e3e3e4;
  border-left: 0px;
  position: relative;
  left: 100%;
  top: -70px;
}

.grid-item-1 section .input button .fa {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  opacity: 0.3;
  padding-right: 20px;
}

.grid-item-1 section .input button .fa:hover {
  color: #4066a5;
  opacity: 1;
}

.grid-item-1 section .tos {
  margin-top: -2.5%;
  margin-left: 20.5882%;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #6a707b;
  /* Customize the label (the container) */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.grid-item-1 section .tos .container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px;
}

.grid-item-1 section .tos .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.grid-item-1 section .tos .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  border-radius: 3px;
  background-color: #eee;
}

.grid-item-1 section .tos .container:hover input ~ .checkmark {
  background-color: #ccc;
}

.grid-item-1 section .tos .container input:checked ~ .checkmark {
  background-color: #4066a5;
}

.grid-item-1 section .tos .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.grid-item-1 section .tos .container input:checked ~ .checkmark:after {
  display: block;
}

.grid-item-1 section .tos .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-radius: 3px;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.grid-item-1 section a:link {
  color: #131821;
}

.grid-item-1 section a:visited {
  color: #233759;
}

.grid-item-1 section a:hover {
  color: #4066a5;
}

.grid-item-1 section a:active {
  color: #233759;
}

div.line {
  margin-top: 7.3529%;
  margin-left: 20.5882%;
  width: 58.8235%;
}

div.line .horizontal-line {
  border-top: 1px solid #e3e3e4;
}

footer {
  margin-top: 7.3529%;
  margin-left: 32.0588%;
  margin-right: 32.0588%;
}

footer .social-icons .fa {
  padding: 14px;
  font-size: 16px;
  width: 46px;
  height: 46px;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #e3e3e4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  opacity: 0.3;
}

footer .social-icons .fa-instagram {
  margin-left: 15px;
}

footer .social-icons .fa-twitter {
  margin-left: 15px;
}

footer .social-icons .fa-youtube-play {
  margin-left: 15px;
}

footer .social-icons .fa:hover {
  color: #ffffff;
  opacity: 1;
  border: 0px solid #e3e3e4;
  -webkit-box-shadow: 5px 15px 10px #e2e3e4;
          box-shadow: 5px 15px 10px #e2e3e4;
}

footer .social-icons .fa:active {
  color: #ffffff;
  opacity: 1;
  border: 0px solid #e3e3e4;
  -webkit-box-shadow: 5px 15px 10px #e2e3e4;
          box-shadow: 5px 15px 10px #e2e3e4;
}

footer .social-icons .fa-facebook:hover {
  background-color: #4267b2;
}

footer .social-icons .fa-facebook:active {
  background-color: #2f4a80;
}

footer .social-icons .fa-instagram:hover {
  background-color: #c13584;
}

footer .social-icons .fa-instagram:active {
  background-color: #8f2762;
}

footer .social-icons .fa-twitter:hover {
  background-color: #1da1f2;
}

footer .social-icons .fa-twitter:active {
  background-color: #177fbf;
}

footer .social-icons .fa-youtube-play:hover {
  background-color: #ff0000;
}

footer .social-icons .fa-youtube-play:active {
  background-color: #cc0000;
}

@media only screen and (max-width: 376px), screen and (max-width: 1000px) {
  .grid-item-1 {
    background: none;
    grid-area: area1;
    background-image: url("../images/image_summer.png");
  }
  .grid-item-1 header {
    margin: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f5fa));
    background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
  }
  .grid-item-1 header .top-bar {
    height: 66px;
  }
  .grid-item-1 header .top-bar img {
    margin-left: 20px;
    margin-bottom: 1px;
  }
  .grid-item-1 header .top-bar h3 {
    font-size: 0px;
  }
  .grid-item-1 header .top-bar ul {
    margin: 0px;
    margin-left: 30px;
  }
  .grid-item-1 header .top-bar ul a {
    font-size: 14px;
    line-height: 24px;
    margin-left: 20px;
  }
  .grid-item-1 section {
    margin-top: 50.1333%;
    margin-left: 5.3333%;
    width: 335px;
    height: 270px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f5fa));
    background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
  }
  .grid-item-1 section .success {
    margin-left: 6%;
    padding-top: 9%;
    margin-bottom: -2%;
  }
  .grid-item-1 section .heading {
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
  }
  .grid-item-1 section .heading h1 {
    padding-top: 10px;
    font-size: 24px;
    line-height: 34px;
  }
  .grid-item-1 section .subheading {
    margin: 0px;
  }
  .grid-item-1 section .subheading h2 {
    font-size: 14px;
    line-height: 26px;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  .grid-item-1 section .input {
    margin: 0px;
    margin-left: 20px;
    margin-top: 20px;
    height: 60px;
  }
  .grid-item-1 section .input input {
    height: 60px;
    width: 255px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 15px;
  }
  .grid-item-1 section .input button {
    height: 60px;
    width: 40px;
    left: -4px;
    top: 1px;
  }
  .grid-item-1 section .input button .fa {
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .grid-item-1 section .tos {
    margin: 0px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #6a707b;
  }
  .grid-item-1 div.line {
    margin-top: 20px;
    margin-left: 20px;
    width: 295px;
  }
  .grid-item-1 footer {
    margin: 0px;
    margin-left: 5.3333%;
    margin-right: 20px;
    width: 335px;
    height: 101px;
    background-color: #f2f5fa;
  }
  .grid-item-1 footer .social-icons {
    margin: 0px;
    padding-left: 50px;
    padding-top: 18px;
  }
  .grid-item-1 footer .social-icons .fa {
    margin: 0px;
    padding: 0px;
    padding-top: 14px;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 0px;
  }
}

.grid-item-2 {
  z-index: -1;
  background-image: url("../images/image_summer.png");
}
/*# sourceMappingURL=App.css.map */